# Arquivos compilados
*.exe
*.out
*.o
*.obj
*.class

# Arquivos gerais
/ideias_dir.txt

# Diretórios comuns de build
/output/
/.vscode/
/build/
/bin/*

# Diretórios gerais
/markdown_andamento/
/Imagens/
