# Arquivos compilados
*.exe
*.out
*.o
*.obj
*.class

# Arquivos gerais
/ideias_dir.txt

# Diretórios comuns de build
/output/
/.vscode/
/build/*
/bin/*
/libs/pcre2/win/build/*

# Diretórios gerais
/markdown_andamento/
/Imagens/
