/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
    background-image: url('');
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem não rola com o conteúdo */
    min-height: 100vh;
    font-family: 'Cinzel', serif; /* Aplica a fonte importada */
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    margin-top: 100px;
    margin-left: 350px;
}

.menu-container {
    width: 350px;
    margin-left: 120px;
    background-color: rgba(39, 28, 20, 0.85); 
    backdrop-filter: blur(5px); 
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid #6d4c41;
    border-top-color: #8d6e63;
    border-left-color: #8d6e63;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.titulo-jogo {
    color: #e0cda8; 
    text-align: center;
    font-weight: 700; 
    font-size: 2.8em;
    margin-top: 10px;
    margin-bottom: 30px;
    min-height: 80px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    background-image: url('../web/components/caveira.svg'), url('../web/components/forca.svg');
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: 70px 70px; 
}

.menu-botao {
    display: block; 
    width: 95%;
    padding: 10px;
    margin-bottom: 18px; 
    background-color: #5d4037; 
    color: #d7ccc8; 
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #4e342e;
    box-shadow: 0 4px 0 #3e2723, 0 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    top: 0;
    transition: all 0.1s ease-in-out;
}

.menu-botao:hover {
    background-color: #6d4c41; 
    color: #fff;
}

.menu-botao:active {
    top: 4px; 
    box-shadow: 0 0 0 #3e2723, 0 1px 5px rgba(0, 0, 0, 0.6); 
}

.menu-navegacao .menu-botao:last-child {
    margin-bottom: 0;
}

.menu-modo {
    display: block; 
    width: 95%;
    padding: 10px;
    margin-bottom: 18px;
    background-color: #5d4037; 
    color: #d7ccc8; 
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #4e342e;
    box-shadow: 0 4px 0 #3e2723, 0 5px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
}

.menu-modo:hover {
    height: 100px;
    background-color: #6d4c41; 
    color: #fff;
}

.menu-modo::after {
  content: "";
  position: absolute;
  top: 75px;
  left: 41%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  text-align: left;
  white-space: pre-wrap; 
}

#solo:hover {
  background-image: url('../web/components/solo.svg');
  background-repeat: no-repeat;
  background-position: right calc(100% - 10px);
  background-size: 120px 120px; 
}

#solo:hover::after {
  font-size: 10px;
  content: "Enfrente o desafio e mostre que é capaz de vencer a forca! Escolha um nível de dificuldade, adivinhe as palavras e teste seus conhecimentos sem depender de ninguém.";
  opacity: 1;
}

#duo:hover {
  background-image: url('../web/components/duo.svg');
  background-repeat: no-repeat;
  background-position: right calc(100% - 5px);
  background-size: 120px 120px; 
}

#duo:hover::after {
  font-size: 10px;
  content: "Um jogador escolhe a palavra en- quanto o outro tenta adivinhar. Vocês podem se revezar ou criar seus próprios desafios. Vejam quem consegue escapar da forca!";
  opacity: 1;
}

.menu-nivel {
    width: 600px;
    background-color: rgba(39, 28, 20, 0.85); 
    backdrop-filter: blur(5px); 
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid #6d4c41;
    border-top-color: #8d6e63;
    border-left-color: #8d6e63;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.titulo-nivel {
    color: #e0cda8;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.container-botoes {
  display: flex;
  gap: 5px; 
  margin-bottom: 20px;
  justify-content: center;
  margin-top: 10px;
}

.botao-transformavel {
  width: 200px;
  height: 50px;
  background-color: #5d4037; 
  color: #d7ccc8;
  font-family: 'Cinzel', serif;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #4e342e; 
  box-shadow: 0 4px 0 #3e2723, 0 5px 10px rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 12px;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: top; /* Fixa o topo durante a expansão */
  min-width: 150px; /* ou um valor maior */
  min-height: 50px;
  padding: 10px 20px;
  white-space: normal; /* Permite quebrar a linha se o texto for muito longo */
  text-align: center;
}

.botao-transformavel:hover {
  width: 200px;
  height: 200px;
  background-color: #6d4c41; 
  color: white;
  padding-bottom: 30px;
}

.botao-transformavel::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 85px;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
}

.texto-fixo {
  z-index: 2;
  position: relative;
  pointer-events: none;
}

#easy:hover {
  background-image: url('../web/components/facil.svg');
  background-repeat: no-repeat;
  background-position: center calc(100% - 10px);
  background-size: 60px 60px; 
}

#easy:hover::after {
  font-size: 10px;
  content: "Aqui as palavras são curtas e simples, per- feitas para quem es- tá começando ou quer uma partida mais tranquila.";
  opacity: 1;
}

#norm:hover {
  background-image: url('../web/components/medio.svg');
  background-repeat: no-repeat;
  background-position: center calc(100% - 10px);
  background-size: 60px 60px; 
}

#norm:hover::after {
  font-size: 10px;
  content: "Um desafio na medi- da certa! As palavras são um pouco mais longas e exigem mais atenção e raciocínio.";
  opacity: 1;
}

#hard:hover {
  background-image: url('../web/components/dificil.svg');
  background-repeat: no-repeat;
  background-position: center calc(100% - 10px);
  background-size: 60px 60px; 
}

#hard:hover::after {
  font-size: 10px;
  content: "Este é o verdadeiro teste para os mestres da forca! Palavras longas, pouco usadas no dia a dia e com combinações de letras que vão exigir muita atenção e vocabulário avançado.";
  opacity: 1;
}

.titulo-duo {
    color: #e0cda8;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

input[type="password"] {
      width: 97%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #e0cda8;
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Cinzel', serif;
      background-color: #8d6e63;
      color: #e0cda8;
      right: 10px;
    }

input::placeholder {
  color: #e0cda8;
}

#game{
  left: 15px;
  font-size: 15px;
}

.menu-forca {
    width: 600px;
    background-color: rgba(39, 28, 20, 0.85); 
    backdrop-filter: blur(5px); 
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid #6d4c41;
    border-top-color: #8d6e63;
    border-left-color: #8d6e63;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.forca {
  margin: 20px auto;
  width: 105px;
  height: 250px;
  position: relative;
  border-left: 5px solid #8d6e63;
  border-top: 5px solid #8d6e63;
  right: 150px;
}

.forca::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100px;
  width: 5px;
  height: 30px;
  background: #8d6e63;
}

.parte {
  position: absolute;
  display: none;
}

#cabeca {
  left: 65px;
  width: 70px;
  top: 30px;
}

#corpo {
  left: 95px;
  top: 85px;
}

#braco-esquerdo {
  left: 45px;
  top: 85px;
  width: 50px;;
}

#braco-direito {
  left: 95px;
  top: 70px;
  width: 40px;
}

#perna-esquerda {
  left: 22px;
  width: 75px;
  top: 140px;
}

#perna-direita {
  left: 100px;
  width: 55px;
  top: 160px;
}

.traços {
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-size: 24px;
  margin-left: 100px;
}

.letras-tentadas {
  margin-top: 20px;
  color: #d7ccc8;
  position: absolute;
  top: 120px;
  right: 85px;
}

input[type="text"] {
  font-size: 18px;
  padding: 8px;
  width: 60px;
  text-align: center;
  position: absolute;
  top: 170px;
  right: 120px;
}

#mensagem-final {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}